* {
  font-family: 'Solway', serif;
}

.border-nav {
  padding-top: 25px;
}

.link {
  text-decoration: none;
  color: black;
  padding: 15px;
}

.link:hover {
  font-weight: bold;
  font-size: 1.1em;
}

.app-header {
  display: flex;
  justify-content: space-between;
}

.main > img {
  width: 100%;
  height: 700px;
}

.image-header {
  opacity: 0.6;
  padding-top: 30px;
  width: 100%;
}

.slogan-main {
  font-size: 1.1em;
  position: absolute;
  left: 25px;
  line-height: 70px;
  top: 200px;
}
